[Unit]
Description = Azure

[Service]
EnvironmentFile=/etc/sysconfig/azure_env
ExecStart = sh /server/azure/wakeup.sh
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target

