#page {
    margin: 20px 30px;
}

section{
    padding-top: 41.7px;
}

a {
    color: darkblue;
}

a:hover {
    color: skyblue;
}

p {
    margin-bottom: 1rem;
}

header a{
    color: black
}

button.azure{
    background-color: darkblue;
    border: 0.1rem solid darkblue;
    color: white;
}

button.purple {
    background-color: indigo;
    border: 0.1rem solid indigo;
    color: white;
}

#main {
    margin: 0 auto;
    max-width: 941.7px;
}

.card {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    margin: 1.0rem 0;
    padding: 2.0rem;
}

.sub {
    text-align: right;
    color: gray;
}

.azure-enhance {
    color: darkblue;
    font-weight: bold;
}

h4.circle-title {
    text-align: center;
}

th.fit, td.fit {
    white-space: nowrap;
    width: 0;
}

.gray-bg {
    background-color: gray;
}

.warning {
    color: red;
    background-color: yellow;
}

table.event-detail tr,
table.event-detail td {
    width: 100%;
}

.wrap-button {
    text-align: center;
}

footer {
    text-align:center;
    margin: 20px auto;
}

/* Checkbox to Button*/
label.label{
    cursor: pointer;
    padding:10px;
    border: 1px solid #434343;
    border-radius: 5px;
    display: inline;
    margin:1px;
    font-weight: 500;
}
input.c-checkbox{
    display: none;
}
.c-checkbox:checked + .label {
    color:white;
    background-color: darkblue;
    border: 1px solid darkblue;
}

/* Modal CSS */
.modal{
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}
.modal__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100vw;
}
.modal__content{
    background: #fff;
    left: 50%;
    padding: 34.17px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
}


/* For tablet or smartphone */
@media screen and (max-width: 767px) {
    #page {
        margin: 2rem 1rem;
    }

    h1 {
        font-size: 3.417rem;
        text-align: center;
    }

    .modal__content {
        padding: 20px;
        width: 100%;
    }
}
