<html lang="ja">
    {{template "header" .}}
    <body>
        <div id="page">
            {{template "body-header"}}
            <section id="main">
                <article class="card">
                    <h3>本サイトの目的</h3>
                    <p>本サイトは以下のような目的で運営を行っています。</p>
                    <ul>
                        <li>複数の団体のスケジュールを横断的に確認できることを実現し、不用意にサークル間でバッティングが起こることを防ぐ</li>
                        <li>イントロクイズを始めたばかりの方へのイントロの場（オフライン・オンライン問わず）を紹介しやすくする</li>
                    </ul>
                    <p>この目的を達成するためには、多くの団体様のご協力が不可欠です。もしもご興味ございましたら、お気軽に運営のどらまでご連絡ください。</p>
                    <p>また、単発イベントの登録も可能です。団体としてある程度継続的に活動/開催される場合はカレンダーでの登録をオススメ致しますが、単発登録をご希望の場合は同じくご連絡ください。</p>
                </article>


                <article class="card">
                    <h3>本サイトの仕組み</h3>
                    <img src="/resource/schedule-flow.png" />
                    <h4>サークル側でやっていただくこと</h4>
                    <ul>
                        <li>サークル詳細の設定</li>
                        <li>サークルでGoogleカレンダーを作成頂く</li>
                        <li>Googleカレンダーに活動予定を掲載頂く</li>
                    </ul>
                    <p>サークル側ではGoogleカレンダーだけを操作頂く形になります。Googleカレンダーの作成方法・予定追加方法については参考資料を作成しております。詳細等はご連絡ください。</p>
                    <p>サークル詳細は主にイントロクイズを初めて行う人に向けて、そのサークルの基本的な情報をお知らせすることを目的にサークルの登録時にご設定いただいております。サークルの宣伝としてもご活用頂けると考えています。</p>
                    <h4>Azure側での予定の更新</h4>
                    <p>5分おきに各サークルのカレンダーを確認、スケジュールの更新を行っております。サークル側で特に何かを行う必要はありません。閲覧者は比較的リアルタイムでサークルの予定を横断的に確認することが可能です。</p>
                </article>

                <article class="card">
                    <h3 id="contact">お問い合わせ</h3>
                    <p>新たにご参加頂ける団体様を始め、各種ご連絡は運営のどらまでご連絡ください。</p>
                    <p>Twitter, DiscordやSlackなどをご存じの方は、そちらでご連絡いただいても問題ありません。</p>
                    <ul>
                        <li>Mailto: intro.azure桃gmail.com</li>
                        <ul>
                            <li>桃をアットマークへ置き換えてご使用ください</li>
                        </ul>
                    </ul>

                    <!-- <h4>当サイトについて</h4> -->
                </article>
            </section>
        </div>

        <div class="wrap-button">
        <button class="button azure" onclick="location.href='/'">トップページへ戻る</button>
        </div>
        <footer>Copyright &copy 2021 <b>Dora F.</b> All Rights Reserved.</footer>
    </body>
</html>

