<html lang="ja">
    {{template "header" .}}
    <body>
        <div id="page">
            {{template "body-header"}}
            <section id="main">
                {{if ne .message.Title ""}}
                <article class="card">
                    <h3>{{.message.Title}}</h3>
                    <p>{{.message.Content | safe}}</p>
                </article>
                {{end}}
                <article class="card">
                    <p>直近3ヶ月までの予定が記載されます。</p>
                    <p>当サイトの利用によって生じた不利益について、サイト側は一切の責任を負いません。自己責任でご利用ください。</p>
                    <p>現在ベータ版運用中です。ご意見などありましたら、<a href="https://github.com/pgDora56/Azure/issues">GithubのIssues</a>に追加いただくか、お問い合わせ先までご連絡ください。</p>
                    <p>現在登録されている団体は以下の通りです（以下に掲載がない団体は予定のみの掲載です）。</p>
                    <ul>
                        {{range $k, $c := .circles}}
                        {{if ne $k "0"}}
                        {{if ne (len $c.Overview) 0}}
                        <li><a class="js-modal-open" href="" data-target="c-{{$k}}">{{$c.Name}}({{$c.SimpleName}})</a></li>
                        {{end}}
                        {{end}}
                        {{end}}
                    </ul>
                    <p>団体名やイベント名をクリックすることで詳細情報を閲覧できます。</p>
                    <p>掲載頂ける団体や、単発イベントなどございましたら、運営のどらまでご連絡ください。</p>
                    <p>連絡先については、以下<a href="/about#contact">本サイトについて→お問い合わせ</a>をご確認ください。</p>
                    <button class="button azure" onclick="location.href='/about'">本サイトについて</button>
                    <button class="button azure" onclick="location.href='https://pgdora56.hateblo.jp/archive/category/Azure%20Update'">更新情報(Blog)</button>
                    <button class="button purple" onclick="location.href='https://github.com/pgDora56/Azure'">GitHub</button>
                </article>

                <p class="sub">Last Update: {{.update}}</p>

                <article class="card">
                <p>団体ごとの表示/非表示を切り替えられます。すべて表示されていない場合は左右にスライドしてください．</p>
                <div id="circle-check">
                    {{range $k, $c := .circles}}
                    <input type="checkbox" name="visibility" class="c-checkbox" value="{{$k}}" id="{{$k}}" checked>
                    <label class="label" for="{{$k}}">
                    {{if eq $c.SimpleName ""}}
                    単発
                    {{else}}
                    {{$c.SimpleName}}
                    {{end}}
                    </label>
                    {{end}}
                </div>
                </article>

                <article class="card">
                    背景が黄色のイベントはオフラインでの開催予定のイベントになります。
                    <table>
                        {{range .sche}}
                        {{if ne .Schedule.Start.Date ""}}
                        <tr>
                            <th colspan="3">
                                {{.Schedule.Start.Date}}
                            </th>
                        </tr>
                        {{end}}

                        <tr class="sche-{{.Schedule.CircleId}}{{if .Schedule.IsOffline}} offline{{end}}">
                            {{if ne .Schedule.Start.Time ""}}
                            <td>{{.Schedule.Start.Time}} ~ {{.Schedule.End.Time}}</td>
                            {{else}}
                            <td></td>
                            {{end}}
                            <td class="fit">
                                {{if ne .Simple ""}}
                                {{if .Closed}}
                                {{.Simple}}
                                {{else}}
                                <a class="js-modal-open" href="" data-target="c-{{.Schedule.CircleId}}">
                                    {{.Simple}}
                                </a>
                                {{end}}
                                {{end}}
                            </td>
                            <td>
                                <a class="js-modal-open" href="" data-target="e-{{.Schedule.EventId}}">
                                    {{.Schedule.Title}}
                                </a>
                            </td>
                        </tr>
                        {{end}}
                    </table>
                </article>
            </section>
        </div>


        <!-- Circle Modal -->
        {{range $k, $c := .circles}}
        {{if ne (len $c.Overview) 0}}
        {{if ne $k "0"}}
        <div id="c-{{$k}}" class="modal js-modal">
            <div class="modal__bg js-modal-close"></div>
            <div class="modal__content">
                <h4 class="circle-title">{{$c.Name}}</h4>
                {{range $c.Overview}}
                <p>{{.}}</p>
                {{end}}
                <table>
                    {{range $c.Detail}}
                    {{if eq .Item "Warning"}}
                    <tr>
                        <th colspan="2" class="warning">{{.Value}}</th>
                    </tr>
                    {{else}}
                    <tr>
                        <th class="sub">{{.Item}}</th>
                        <td>
                            {{if eq .Item "Twitter"}}
                            <a href="https://twitter.com/{{.Value}}">
                                @{{.Value}}
                            </a>
                            {{else if ne .Link ""}}
                            <a href="{{.Link}}">
                                {{.Value}}
                            </a>
                            {{else}}
                            {{.Value}}
                            {{end}}
                        </td>
                    </tr>
                    {{end}}
                    {{end}}
                </table>
                <div class="wrap-button">
                <button class="button button-outline js-modal-close">CLOSE</button>
                </div>
            </div><!--modal__inner-->
        </div><!--modal-->
        {{end}}
        {{end}}
        {{end}}

        <!-- Event Modal -->
        {{$date := ""}}
        {{range .sche}}
        {{if ne .Schedule.Start.Date ""}}
        {{$date = .Schedule.Start.Date}}
        {{end}}
        <div id="e-{{.Schedule.EventId}}" class="modal js-modal">
            <div class="modal__bg js-modal-close"></div>
            <div class="modal__content{{if .Schedule.IsOffline}} offline{{end}}">
                <h4>{{.Schedule.Title}}</h4>
                <table class="event-detail">
                    <tr><td>{{$date}} {{.Schedule.Start.Time}} ~ {{.Schedule.End.Time}}</td></tr>
                    {{if ne .Simple ""}}
                    <tr><td>開催団体： {{.CircleName}}</td></tr>
                    {{end}}
                    {{if eq .Schedule.Description ""}}
                    <tr><td>詳細情報はありません。</td></tr>
                    {{else}}
                    <tr><td>{{.Schedule.Description | safe}}</td></tr>
                    {{end}}
                </table>
                <div class="wrap-button">
                <button class="button button-outline js-modal-close">CLOSE</button>
                </div>
            </div><!--modal__inner-->
        </div><!--modal-->
        {{end}}

        <footer>Copyright &copy 2021 <b>Dora F.</b> All Rights Reserved.</footer>

    <script src="/resource/js/main.js"></script>
    </body>
</html>

